img {
  width: 50px;
  height: 50px;
}

p {
  color: lightgray;
}

.col-full {
  flex-basis: 100%;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.container {
  max-width: 100%;
}

.row {
  display: flex;
}

.content-width {
  width: 60%;
  margin: auto;
}

.blue-background {
  background-color: rgb(27 154 227);
}

.text {
  font-family: Lato, sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
}

.p-color {
  color: rgb(222 222 222);
}

.circle {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
