img {
  border-radius: 100%;
  background-color: white;
}

.col-third {
  width: calc(100% / 3);
}

.container {
  background-color: rgb(35 149 224);
  color: white;
  font-family: sans-serif;
}

.row {
  display: flex;
  width: 800px;
  margin: auto;
}
