.font {
  font-family: Prompt, sans-serif;
}

.neutral {
  color: black;
  border-bottom: solid black;
}

.correct {
  color: rgb(74 243 48);
}

.incorrect {
  color: red;
  border-bottom: solid red;
}

.margin {
  margin: 25%;
}

.text-center {
  text-align: center;
}
